protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="utilizador.xsd"/>
	<xs:element name="protocol">
		<xs:complexType>
			<xs:choice>
			<xs:element name="login">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nif" type="xs:string" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Utilizador" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="catalogo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="seccao" type="xs:string" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Peça" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="adicionarCarrinho">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nif" type="xs:string" maxOccurs="1"/>
										<xs:element name="idPeca" type="xs:string" maxOccurs="1" minOccurs="1"/>
										<xs:element name="tamanho" type="xs:string" maxOccurs="1" minOccurs="1"/>
										<xs:element name="quantidade" type="xs:string" maxOccurs="1" minOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Carrinho" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="mostrarTodosCarrinhos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType/>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Carrinho" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="aprovarCarrinho">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nif" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Carrinho" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="carrinhos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Carrinho" type="xs:string" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Carrinho" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
								
				<xs:element name="registar">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nif" type="xs:string" maxOccurs="1"/>
										<xs:element name="nome" type="xs:string" maxOccurs="1"/>
										<xs:element name="dataNasc" type="xs:string" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Utilizador" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="pecasTotal">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType/>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Peça" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="consultar">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType/>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Peça" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="adicionarPeca">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nome"/>
										<xs:element name="designacao"/>
										<xs:element name="seccao"/>
										<xs:element name="preco"/>
										<xs:element name="tipo"/>
										<xs:element name="tamanho"/>
										<xs:element name="quantidade"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Peça" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="modificarPreco">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idPeca"/>
										<xs:element name="preco"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Peça" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="modificarQuantidade">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="idPeca"/>
										<xs:element name="tamanho"/>
										<xs:element name="quantidade"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="reply" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Peça" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
